<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTAX_j_WHtbg7IaP0Qk7u1I2yij1EJjzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1043951675142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafsan.TestProjectSep10</string>
	<key>PROJECT_ID</key>
	<string>testproject10sep</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject10sep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043951675142:ios:fa3a5433404b2153f52087</string>
</dict>
</plist>